# ===================================================================
# DEFAULT CONFIG (Applies to ALL profiles)
# ===================================================================
spring:
  application:
    name: edusync
  profiles:
    active: dev # Run in 'dev' mode by default
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    # This is the "From" address that will appear on the email
    from: ${MAIL_FROM:no-reply@edusync.ai}

  # --- JPA / Hibernate Common Settings ---
  jpa:
    hibernate:
#      Strictly do not change this to create
      ddl-auto: validate # Set in default, can be overridden by 'prod'
    show-sql: true       # Set in default, can be overridden by 'prod'
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

# ===================================================================
# APPLICATION-SPECIFIC PROPERTIES
# ===================================================================
app:
  razorpay:
    key-id: ${RAZORPAY_KEY_ID}
    key-secret: ${RAZORPAY_KEY_SECRET}
  jwt:
    # This is security config
    secret-key: ${JWT_SECRET_KEY}
    expirationTime: ${JWT_EXPIRATION_TIME}
    refresh-expirationTime: ${REFRESH_EXPIRATION_TIME}
    password-reset-expirationTime: ${PASSWORD_RESET_TIME}

  # URL for the frontend (used to build links in emails)
  frontend:
      # This should be your frontend's URL (e.g., http://localhost:3000)
    url: ${APP_FRONTEND_URL}
---

api:
  url: ${BASE_URL}${API_VERSION}

# ===================================================================
# DEVELOPMENT PROFILE (Active when 'spring.profiles.active=dev')
# ===================================================================
spring:
  config:
    activate:
      on-profile: dev

  # --- Database Datasource Configuration ---
  datasource:
    driver-class-name: org.postgresql.Driver

    # Configuration credentials are being read from this .env file
    url: ${DB_URL}?prepareThreshold=0
    username: ${DB_USER}
    password: ${DB_PASS}

    # We will keep the timeout fix
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      connection-timeout: 30000


security:
  # Max number of active devices (refresh tokens) per user
  max-devices: 2
